/* By @DiscreteTom */
.side-catalog.fixed {
  height: 100%;
  overflow: hidden;
}
.side-catalog.fixed .catalog-body {
  height: 90%;
  overflow: hidden;
}
.side-catalog.fixed .catalog-body:hover {
  overflow-y: scroll;
}
.side-catalog.fixed .catalog-body::-webkit-scrollbar {
  width: 5px;
}
.side-catalog.fixed .catalog-body::-webkit-scrollbar-track {
  border-radius: 2px;
}
.side-catalog.fixed .catalog-body::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: #ccc;
}
.side-catalog.fixed .catalog-body li a {
  max-width: 170px;
}
.post-preview {
  border: solid 1px #fff;
  border-radius: 5px;
  padding: 0 5%;
}
.post-preview:hover {
  border: solid 1px #ccc;
}
.post-preview .post-meta {
  font-style: normal;
  font-family: Lora, 'Times New Roman', serif;
  color: gray;
  margin-top: 0;
  font-size: 18px;
}
.post-preview .tag {
  display: inline-block;
  border: #bfbfbf 1px solid;
  border-radius: 999em;
  padding: 0 10px;
  line-height: 24px;
  font-size: 12px;
  color: #bfbfbf;
}
.post-preview .tag:hover {
  border-color: #0085a1;
}
