---
layout: page
title: 'Academic Materials'
description: "这里存放了大学期间的笔记"
---

{% for collection in site.collections %}
{% if collection.label != 'posts' %}
<div class="collection fold">
	<a style="cursor: pointer; text-decoration: none"><h2 class="collection-title">{% if collection.title %}{{ collection.title }}{% else %}{{ collection.label }}{% endif %}</h2></a>
	{% if collection.docs %}
	<ol>
		{% assign docs=collection.docs | sort: 'index' %}
		{% for doc in docs %}
		<li><a href="{{ doc.url | prepend: site.baseurl }}">{{ doc.title }}</a></li>
		{% endfor %}
	</ol>
	{% endif %}
</div>
<hr>
{% endif %}
{% endfor %}
<style>
	.fold ol{
		display: none;
	}
	.collection-title::before{
		margin-right: 20px;
		content: '−'
	}
	.fold .collection-title::before{
		content: '+';
	}
</style>
<script src="/js/jquery.min.js"></script>
<script>
	$labels = $('.collection-title')
	$labels.click((e)=>{
		$(e.target).parent().parent().toggleClass('fold')
	})
</script>