name: CI
on:
  push:
    branches: 
      - source
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: setup node
      uses: actions/setup-node@master
    
    - name: cache
      uses: actions/cache@v1
      with:
        path: ~/.npm
        key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
        restore-keys: |
          ${{ runner.os }}-node-
    
    - name: checkout boilerplate
      uses: actions/checkout@v2
      with:
        repository: DiscreteTom/dt-blog-boilerplate
        path: boilerplateRepo
        persist-credentials: false
      
    - name: checkout blog
      uses: actions/checkout@v2
      with:
        ref: source
        path: contentRepo
        persist-credentials: false
        
    - name: npm install & generate
      run: |
        cp -r contentRepo/* boilerplateRepo
        cd boilerplateRepo/dt-blog-boilerplate
        npm install
        npm run generate

    - name: deploy
      uses: peaceiris/actions-gh-pages@v3
      with:
        personal_token: ${{ secrets.GH_PAT }}
        publish_branch: master 
        publish_dir: boilerplateRepo/dt-blog-boilerplate/dist 
